<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(TargetDir)Flyingpie.Storm.dll" #>
<#@ import namespace="Flyingpie.Storm" #>
<#
var generator = Generator.FromConnectionString("data source=localhost;initial catalog=Storm;integrated security=true;");
Write(generator.Generate());
#>